<div class="login-page">
    <div class="form">

        <form *ngIf="!this.auth1.user">
            <h1 id="title" style="margin: 80px;">Sign in</h1>
            <br>
            <input type="text" placeholder="Username" required />
            <input type="password" placeholder="Password" required />

            <button class="Font">Log in</button>
            <p class="message">Not registered? <a style="text-decoration: none; color: #1a73e8;" href="register-page">
                    Create an account</a></p>
            <p class="line">or</p>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon"
                        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                </div>
                <a  class="btn-text" (click)="login()">Login with Google</a>
            </div>
        </form>

        <form *ngIf="this.auth1.user">
            <h1 id="title" style="margin: 40px auto 40px;">Logged in as</h1>
            <br>
            <img style="border-radius: 50%; margin-bottom: 20px;" [src]="user.photoURL">
            <h1>{{user.displayName}}</h1>
            <br>
            <h2>{{user.email}}</h2>
            <br>
            <h1>Redirecting in 05 seconds...</h1>
            
            <meta http-equiv="refresh" content="5;url=http://localhost:4200/note-page" />

        </form>
    </div>
</div>


<!-- <div class="center" class="body">
  <input type="checkbox" id="show">
  <label for="show" class="show-btn">View Form</label>
  <div class="container">
    <label for="show" class="close-btn fas fa-times" title="close"></label>
    <div class="text">
      Login Form</div>
    <form action="#">
      <div class="data">
        <label>Email or Phone</label>
        <input type="text" required>
      </div>
      <div class="data">
        <label>Password</label>
        <input type="password" required>
      </div>
      <div class="forgot-pass">
        <a href="#">Forgot Password?</a>
      </div>
      <div class="btn">
        <div class="inner">
        </div>
        <button type="submit">login</button>
      </div>
      <div class="signup-link">
        Not a member? <a href="#">Signup now</a></div>
    </form>
  </div>
</div> -->